*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');

html {
  font-size: 100%;
}

/*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #68788F;
  --primary-300: #435773;
  --primary-400: #1D3557;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto', sans-serif, poppins;
  --bodyFont: 'Nunito', sans-serif, poppins;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: var(--bodyFont);
  line-height: 1.75;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  max-width: var(--max-width);
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  /* text-transform: capitalize; */
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}




/* Nav styling */
.page-header {
  width: 100vw;
  position: absolute;
  max-width: 1727px;
  height: 110px;
  left: 1px;
  top: 0px;
  background: #FFFFFF;
  /* 16dp preumbra */
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.navbar {
  width: 90vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  height: 110px;
}


.nav-center {
  display: flex;
  align-items: center;
  gap: 32px;
  /* border: 2px solid #0f172a; */
  position: absolute;
  width: 400px;
  height: 24px;
  left: 500px;
  top: 40px;
  /* justify-content: center; */
}


.nav-logo {
  position: absolute;
  width: 194px;
  height: 60px;
  left: 70px;
  top: 18px;
  color: var(--primary-300);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-link {
  color: var(--primary-300) !important;
  /* padding-left: 1rem !important; */
  height: 24px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  border-top: none;
  margin-right: 1.2rem;
}

.nav-link:hover {
  color: #743CA8 !important;
}

.nav-btn{
  display: none;
}
.signup-link {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 17px;
}

.sign-up-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 1rem;
  width: 103px;
  height: 24px;
  border: 2px solid;
  border-radius: 6px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #68788F;
  transition: var(--transition);
}

.sign-up-btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.sign-up-btn:hover {
  background: #743CA8;
  color: #ffffff;
  border: none;
}

.sign-up-btn:focus {
  outline: none;
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  width: 255px;
  height: 55px;
  /* Secondary/400 */
  background: #743CA8;
  border-radius: 8px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  transition: var(--transition);
}

.register-btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.register-btn:hover {
  background: #68788F;
  color: #ffffff;
  border: none;
}

.register-btn:focus {
  outline: none;
}


/* Styling the main-page*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 56px;
  position: absolute;
  width: 606px;
  height: 496px;
  left: 375px;
  top: 160px;
}


/* Styling Login form */

.container {
  width: 90vw;
  margin: 0 auto;
}

.container h1 {
  /* height: 54px; */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: var(--primary-300);
}

.form-wrapper {
  width: 90vw;
  max-width: 600px;
  height: 20rem;
  background-color: #fff;
  padding: 0rem 0rem;
  border-radius: 8px;
  /* box-shadow: 2px 6px 6px -2px rgba(0, 0, 0, 0.5); */
  margin: 0 auto;
}

form label {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-400);
}

form input {
  width: 100%;
  padding: 1rem 0.55rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: #FFFFFF;
  opacity: 0.6;
  border: 1.5px solid #BBBBBB;
}
#password{
  margin-bottom: 0.3rem;
}
.forgot-password{
  color:  #743CA8;
}
.forgot-password:hover{
  color: var(--grey-600);
}

.form-btn {
  text-align: center;
  width: 100%;
  padding: 1.1rem 1.5rem;
  border-radius: 5px;
  /* background-color: hsl(154, 59%, 51%); */
  background-color: #743CA8;
  cursor: pointer;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 1rem;
  border: none;
}

.form-btn:hover{
  box-shadow: 2px 6px 6px -2px rgba(0, 0, 0, 0.6);
  border: 1px;
}

.form-wrapper p {
  text-align: center;
  padding: 0 1.5rem;
  margin: 1.5rem auto;
  line-height: 1.4rem;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #535353;

}

.form-wrapper span a {
  color: #743CA8;
  font-weight: bold;
  padding-left: 0.4rem;
}


/* RESPONSIVENESS */
@media screen and (max-width: 570px){
  .page-header {
    width: 100vw;
    /* max-width: 1727px; */
    height: 110px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    /* 16dp preumbra */
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
  .nav-center {
    width: 100vw;
    max-width: var(--max-width);
  }
  .nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header img {
    width: 200px;
  }
  .nav-logo {
    display: flex;
    align-items: flex-start;
  }
  
  .nav-btn {
    padding: 0.15rem 0.75rem;
  }
  .nav-btn i {
    font-size: 1.25rem;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
  }
  .show-links {
    height: 23.9375rem;
  }
  
  .nav-link {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    text-transform: capitalize;
    color: var(--grey-900);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transition);
  }
  .nav-link:hover {
    color: var(--primary-500);
  }

  .btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transtion);
    text-transform: capitalize;
    display: inline-block;
  }
  /* .btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
  }
  .btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
  }
  .btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
  }
  .btn-block {
    width: 100%;
  }
   */
}